<div class="row">
  <section class="main col-md-12">
    <article>
      <h2>About</h2>
      <p>Hello, I am Kazim.</p>
      <p>I am studying computer programming at Seneca college in Toronto, Ontario.
        My goal is to become a software developer by the time I graduate from Seneca college.
        Since, I have started my education at Seneca, I have learned about many computer
        programming languages such as C, C++, JavaScript, CSS and HTML.
        However computer programming is challenging and difficult to learn
        for many people, but once we start learning from the foundation, it
        becomes easier to learn programming and understand how computer works.
        Although, I have a lot to learn to become expert in computer programming,
        but I feel, I am getting closer to my goal as I learn new things every day
        about computer programming here at Seneca College.</p>
    </article>
  </section>
</div>