<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Website is under construction.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>Welcome</h2>
      <p>This website is under construction by a creative Seneca College student.
        This website is a learning project for student to learn how to create and
        publish a website that uses multiple routes which serve static files. Student
        will also learn how to create a "data service" module for accessing data.
        Web programing and markup languages such JavaScript, HTML,
        CSS will be used to improve the structure, design and functionality of this website.
        Desktop and web Technologies such as Heroku and Visual Studio Code
        will be used as the working environment for this project.</p>
    </article>
  </section>
</div>